rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }
    function isSuperAdmin() {
      return isSignedIn() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.permissions.get('superAdmin', false) == true;
    }
    match /users {
			match /{userId}/{field=**} {
      	allow read: if isSignedIn();
        allow write: if (isSignedIn() && request.auth.uid == userId && request.resource.data.permissions.get('superAdmin', false) == false) || isSuperAdmin();
      }
      allow read: if isSignedIn();
      allow write: if false;
    }
    match /events/{event} {
      allow read: if true;
      allow create, delete: if isSuperAdmin();
      allow write: if false;
      
      match /{eventData} {
        allow create, delete: if isSuperAdmin();
      }
    
      match /feedback/{sessionId} {
        allow read: if true;
        allow write: if true;
      }
      match /notes/{sessionId} {
        allow read: if true;
        allow write: if true;
      }
      match /subscriptions/{subscriptionId} {
        allow read: if true;
        allow write: if true;
      }
    }
  }
}