@use 'constants' as c;
//
// Navigation bars
//
nav {
    @include c.blur;
    display: flex;
    justify-content: stretch;

    .navigation &>a, &.navigation>a {
        flex-grow: 1;
        padding: .5rem;
        text-align: center;

        &:focus {
            outline: 0;
        }

        &.router-link-active {
            background: #00000016;
        }
    }
}

.navigation {
    border-top: 1px solid rgba(c.$link-background, 0.1);

    &>nav>a {
        @media screen and (max-width: 500px) {
            & > .text {
                display: none;
            }
        }
    }

    &>nav>a {

        &>span,
        &>img {
            display: block;
            margin: auto;
        }
    }

    .router-link-active {
        background: #00000016;
    }
}
