@use 'constants' as c;
//
// Navigation bars
//
nav {
    display: flex;
    backdrop-filter: c.$blurred-background;
    background: #0000000d;
    justify-content: stretch;

    &>a {
        flex-grow: 1;
        padding: .5rem;
        text-align: center;

        &:focus {
            outline: 0;
        }

        &.router-link-active {
            background: #00000016;
        }
    }
}

.navigation {
    border-top: 1px solid rgba(c.$link-background, 0.1);

    &>nav>a {

        &>span,
        &>img {
            display: block;
            margin: auto;
        }
    }

    .router-link-active {
        background: #00000016;
    }
}