@use "sass:math";
@import "constants.scss";
//
// Navigation bars
//
nav {
    display: flex;
    backdrop-filter: $blurred-background;
    background: #0000000d;
    justify-content: stretch;

    &>a {
        flex-grow: 1;
        padding: .5rem;
        text-align: center;

        &:focus {
            outline: 0;
        }
    }
}
///
/// Rating stars
/// 
main .average-rating {
    &::before {
        //nuxt-rating has this class for some reason
        position: static;
        -webkit-text-stroke: 1px #000000d0;
    }

    &.null::before {
        background-image:
            linear-gradient(90deg, var(--active-color) var(--percent), transparent var(--percent)),
            /* tint image */
            linear-gradient(to right, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0)),
            /* checkered effect */
            linear-gradient(to right, black 50%, white 50%),
            linear-gradient(to bottom, black 50%, white 50%);
        background-blend-mode: normal, normal, exclusion, saturation;
        background-size: auto, 5px 5px, 5px 5px, 5px 5px;
        background-clip: text;
    }
}

.navigation {
    border-top: 1px solid rgba($link-background, 0.1);

    &>nav>a>span {
        display: block;
        margin: auto;
    }

    .router-link-active {
        background: #00000016;
    }
}

.flex-full {
    flex-basis: 100%;
}

.backgroundLoading,
.navigation {
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 2; // to also show above image fade overlay on /info
}

.networkError {
    flex-basis: 100%;
    flex-grow: 1;
    backdrop-filter: $blurred-background;
    background: rgba($link-background, 0.2);
    text-align: center;
    transition: transform .2s ease, margin-top .2s ease;
    $errorBannerHeight: 2.5rem;

    transform: translateY($errorBannerHeight);
    height: $errorBannerHeight;
    margin-top: -$errorBannerHeight;
    padding: math.div($errorBannerHeight, 5.0);

    &.visible {
        transform: translateY(0rem);
        margin-top: 0;
    }
}

.backgroundLoading {
    transition: transfom .2s ease;
    transform: translateY(6px);

    &.visible {
        transform: translateY(0);
    }
}