@use "sass:math";
@use "constants" as c;
@use "navigation";
@use "tree";

///
/// Rating stars
/// 
main .average-rating {
    &::before {
        //nuxt-rating has this class for some reason
        position: static;
        -webkit-text-stroke: 1px #000000d0;
    }

    &.null::before {
        background-image:
            linear-gradient(90deg, var(--active-color) var(--percent), transparent var(--percent)),
            /* tint image */
            linear-gradient(to right, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0)),
            /* checkered effect */
            linear-gradient(to right, black 50%, white 50%),
            linear-gradient(to bottom, black 50%, white 50%);
        background-blend-mode: normal, normal, exclusion, saturation;
        background-size: auto, 5px 5px, 5px 5px, 5px 5px;
        background-clip: text;
    }
}

.backgroundLoading,
.navigation {
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 2; // to also show above image fade overlay on /info
}

.toast {
    flex-basis: 100%;
    flex-grow: 1;
    background: #ffffff84;
    .transp & {
        backdrop-filter: c.$blurred-background;
        background: rgba(c.$link-background, 0.2);
    }
    text-align: center;
    transition: transform .2s ease, margin-top .2s ease;
    $errorBannerHeight: 2.5rem;

    transform: translateY($errorBannerHeight);
    height: $errorBannerHeight;
    margin-top: -$errorBannerHeight;
    padding: math.div($errorBannerHeight, 5.0);

    &.visible {
        transform: translateY(0rem);
        margin-top: 0;
    }
}

.firebase-emulator-warning {
    pointer-events: none;
    opacity: .4;
    border: 0 !important
}

.tab {
    border-bottom: 3px solid #8787873d;

    &:focus {
        outline: none;
    }

    &.router-link-active {
        border-color: #0e6aff85;
    }
}

.iconify {
    vertical-align: middle
}

summary {
    cursor: pointer;
    background: transparent;
    transition: background .15s ease;
    padding: .5rem;

    &:hover,
    &:focus {
        background: #0001;
    }

    h4 {
        margin: 0;
        display: inline;
    }

    h5 {
        margin: 0;
    }
}

details.border {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0 0.5em 0;
    margin: .1rem;

    summary {
        padding: 0.5rem 0;

    }

    &[open] {
        padding: 0 0.5em .5em;

        summary {
            border-bottom: 1px solid #aaa;
            margin-bottom: 0.5em;
        }
    }

    &:not([open]) {
        summary {

            &:hover,
            &:focus {
                background: unset;
            }
        }

        &:hover,
        &:focus {
            background: #0001;
        }
    }
}



.text-danger {
    color: rgb(255, 94, 0);
}

.button {
    cursor: pointer;
    display: inline-block;
    padding: .3rem;

    &:hover,
    &:focus {
        background: #0001;
    }
}

.fieldset-edit {
    display: none;
    position: absolute;
    right: 0;
    background: white;
    border: 1px solid #cecece;
    border-radius: 4px;

    @media screen and (min-width: 768px) {
        right: 2rem;

    }

    @media screen and (min-width: 1024px) {
        right: 3rem;
        position: static;

    }

    &:before {
        content: "";
        position: absolute;
        left: -1rem;
        bottom: 50%;
        transform: translateY(50%);
        border-top: .5rem solid #00000000;
        border-bottom: .5rem solid #00000000;
        border-right: 1rem solid #cecece;
    }
}

fieldset {

    &:hover,
    &:focus,
    &:focus-within {
        .fieldset-edit {
            display: block;
        }
    }

    &>legend>input:focus~.fieldset-edit {
        display: none;
    }
}

textarea.autosize {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

textarea,
.rich-editor {
    max-width: 99vw;
}

@function transitions($a) {
    @return "#{$a}.slide-left-enter-active, #{$a}.slide-left-leave-active, #{$a}.slide-right-enter-active, #{$a}.slide-right-leave-active";
}

#{transitions('')} {
    position: absolute;
    top: 0;
    transition: opacity .2s, transform .2s;

    width: 100vw;
}

#{transitions('article')} {
    width: auto;

    @media (width > 880px) {
        left: calc((100vw - 880px) / 2 + 2.5rem);
    }
}

.slide-left-enter-from {
    opacity: .0;
    transform: translate(50px, 0);
}

.slide-left-leave-to {
    opacity: .0;
    transform: translate(-50px, 0);
}

.slide-right-enter-from {
    opacity: .0;
    transform: translate(-50px, 0);
}

.slide-right-leave-to {
    opacity: .0;
    transform: translate(50px, 0);
}