$link-background: #95959508;
$blurred-background: brightness(150%) blur(15px);
$link: rgb(20, 102, 255);
$code-font: 'Fira Code', 'Cascadia Code', 'Cascadia Mono', 'Consolas', 'Courier New', monospace;

@mixin blur {
    background: #ffffff84;
    .transp & {
        backdrop-filter: $blurred-background;
        background: #0000000d;
    }
}