.inline-block {
  display: inline-block;
}

.align-top {
  vertical-align: top;
}

.border-between:not(:last-child) {
  border-right: 1px solid gray;
}

.mr-1 {
  margin-right: 1rem;
}

.dotted-underline {
  border-bottom: 1px dotted black;
}

.large {
  font-size: large
}

.m-left-auto {
  margin-left: auto;
}

.m-0 {
  margin: 0;
}

.p-1 {
  padding: .45rem
}

.p-2 {
  padding: .9rem
}

.d-block {
  display: block;
}

.nowrap {
  white-space: nowrap;
}

.scroll-x {
  overflow-x: auto;
}

.flex {
  display: flex;
}

.flew-wrap {
  flex-wrap: wrap;
}

.flex-full {
  flex-basis: 100%;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-start {
  align-items: start;
}

.relative {
  position: relative
}

.absolute {
  position: absolute;
}

.left-0 {
  left: 0
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.top-0 {
  top: 0
}

.z--1 {
  z-index: -1;
}