.inline-block {
  display: inline-block;
}

.align-top {
  vertical-align: top;
}

.mr-1 {
    margin-right: 1rem;
}

.dotted-underline {
  border-bottom: 1px dotted black;
}

.large {
  font-size: large
}

.m-left-auto {
  margin-left: auto;
}

.p-1 {
  padding: .45rem
}

.d-block {
  display: block;
}

.nowrap {
  white-space: nowrap;
}

.scroll-x {
  overflow-x: auto;
}

.flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}